@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Secular+One&display=swap');


body{
    
    background: url(../images/Fondo.jpg);
    text-align: center;
    background-size: cover;
    font-family: 'Dela Gothic One', cursive;
font-family: 'Secular One', sans-serif;
}

button{
    padding: 12px 60px;
    margin: 30px;
    font-size: 24px;
    background: white;
    color: #0496ff;
    border-radius: 11px;
    border: 2px solid #ffff;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Secular One', sans-serif;
}

button:hover{

    background: #0496ff;
    color: white;
padding: 12px 80px;

}
h1{
    color:#0496ff;
    font-size: 60px;
    
}
h2{
    color: #0496ff;
    font-size: 40px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
}
